/*cores 
primary: #FEF9F9;
secundary: #0000;
terciary: rgba(54, 63, 114, 1);


/*CUSTOM*/
#background-img{
    display: inline-table;
    width: 100%;
    height:100%;
    position: inherit;
    background-repeat: repeat-y;
    background-attachment:scroll;
}
body, html{
    font-family: "Montserrat", sans-serif;
    background-color: black;
}
#header{
    width: 100%;
    background-color: transparent;
}
/*posição da barra de navegaçao no quesito largura*/
#header .navbar-collapse{
    width: auto;
}
header {
    background-color: white;
}

/*estilizando barra de navegação=nav-link no html*/

#header .nav-link{
    font-weight: 600;
    text-transform:capitalize;
    color:black;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;

    border-bottom: solid transparent;
}
#header .nav-link:hover{
    border-bottom: solid 3px;
    color:rgba(54, 63, 114, 1);
}
ul {
    list-style: none;
}
/*Estilizando icons*/
.shopping-cart{
    position: absolute;
width: 32px;
height: 32px;
right: 110px;
top: 3px;
}
.user{
    position: absolute;
width: 32px;
height: 32px;
right: 70px;
top: 3px;
}
/*background and texts*/
.background-img{
    position: absolute;
    width: 100%;
    height: 100%;    
}
.principal{
    position: absolute;
width: 1049px;
height: 42px;
left: 12%;
top: 341px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 88px;
text-align: center;

color: #e4e7ec;
}
.subparagrafo{
    position: absolute;
width: 746px;
height: 134px;
left: 10%;
top: 516px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
color: #d0d5dd;
}
.impactado{
    position: absolute;
width: 411px;
height: 59px;
left: 7%;
top: 312px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
color: #d0d5dd;
}
.redirecao{
    position: absolute;
width: 402px;
height: 141px;
left: 850px;
top: 708px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
}
.redirecao a{
    color: #FFFFFF;
}

/*add side buttons carrousel*/
/*it's like bottons on left of the page that will contain imgs*/

/*All custom page before this line*/
/*-------------------------------*/

/*Responsive code*/
/*Medium disp based at tablets*/
@media only screen and (min-width: 992){
    #header .nav-link .menu-overlay{
        margin-right: 5%;
        margin-left: 5%;
    }
}
@media (max-width: 991.98px) {
    #header .menu-overlay .menu-close{
        width: 100%;
    }
 }